<div class="card" id="recipe-card" >
    <div class="image-holder">
        <img id="recipe-image" class="card-img-top" src="/images/{{recipe.category}}.jpg" alt="pasta_placeholder">
    </div>
    <div class="card-header">
        
        <h4 id="recipe-name" class="card-title accent accent-large">{{recipe.title}}</h4>
        <p>{{recipe.description}}</p>
        <h6 id="recipe-chef">by <a href="/recipes/chef/{{recipe.Chef.username}}">{{recipe.Chef.username}}</a></h6>

        <button type="button" id="favorite" class="btn" aria-label="Heart">
            <i class="fas fa-heart"></i> Add to favorites
        </button>

    </div>
    <div class="card-body">
        <h5>Ingredients</h5>
        <p>{{recipe.ingredients}}</p>
        {{!-- <p id="recipe-cooktime">Cook Time: <i>60min</i></p> --}}
        <h5>Directions</h5>
        <p id="recipe-directions">{{recipe.directions}}</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-3">
            <div class="card">
                <a href="/recipes/category/salads"><img class="card-img-top" src="/images/salad.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text accent">Salads</a></p>
                </div>
            </div>
    </div>
    <div class="col-md-3">
            <div class="card">
                <a href="/recipes/category/desserts"><img class="card-img-top" src="/images/dessert.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text accent">Desserts</a></p>
                </div>
            </div>
    </div>
    <div class="col-md-3">
            <div class="card">
                <a href="/recipes/category/pasta"><img class="card-img-top category-all" src="/images/soup.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text accent">Pasta</a></p>
                </div>
            </div>
    </div>
    <div class="col-md-3">
            <div class="card">
                <a href="/recipes/category/appetizers"><img class="card-img-top" src="/images/appetizer.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text accent">Appetizers</a></p>
                </div>
            </div>
    </div>
</div>
